In [8]:
import sqlite3
import mysql.connector

# Define a function to convert SQLite3 to MySQL
def convert(sqlite_cursor, mysql_conn):
    # Get the list of tables in the SQLite3 database
    sqlite_cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
    tables = sqlite_cursor.fetchall()

    # Iterate over each table and create it in the MySQL database
    for table in tables:
        table_name = table[0]
        # Replace any occurrence of ^ with a unique string
        table_name = table_name.replace('^', 'CARROT_')

        sqlite_cursor.execute(f"SELECT * FROM `{table_name}`")
        rows = sqlite_cursor.fetchall()

        # Get the column names from the SQLite3 cursor
        col_names = [description[0] for description in sqlite_cursor.description]

        # Create the table in the MySQL database
        mysql_cursor = mysql_conn.cursor()
        create_table_query = f"CREATE TABLE {table_name} ({', '.join(col_names)})"
        mysql_cursor.execute(create_table_query)

        # Insert the data into the MySQL table
        insert_query = f"INSERT INTO {table_name} ({', '.join(col_names)}) VALUES ({', '.join(['%s'] * len(col_names))})"
        mysql_cursor.executemany(insert_query, rows)
        mysql_conn.commit()

    print("Conversion complete.")


# Open SQLite3 database file
path = 'C:/Users/hello/Desktop/yf-all-indices-1m-reduced-duplicate.db'
sqlite_conn = sqlite3.connect(path)

# Create MySQL connection
mysql_conn = mysql.connector.connect(
    host="localhost",
    user="hello",
    password="9559",
    database="yf_equities_1m"
)

# Create SQLite3 cursor
sqlite_cursor = sqlite_conn.cursor()

# Convert SQLite3 database to MySQL
convert(sqlite_cursor, mysql_conn)

# Close connections
sqlite_conn.close()
mysql_conn.close()

OperationalError: no such table: CARROTSP500_255030