In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [2]:
# str(months[10])
# Compare current month and future month gains.

In [3]:
pd.set_option('mode.chained_assignment', None)

In [4]:
# sample numpy array
arr = np.array([[0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0]])
# convert to pandas dataframe with custom index and column names
# df = pd.DataFrame(arr, columns=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', "Nov", 'Dec'], index=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', "Nov", 'Dec'])
df = pd.DataFrame(arr, columns=['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'], index=['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'])
# print
# print("Numpy array:\n", arr)
# print("\nPandas dataframe:\n", df)
df['01']['01'] + 1

1

In [9]:
total_years = []
months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
df = pd.DataFrame(arr, columns=['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'], index=['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'])

starting_year = 2018
ending_year = 2022
for i in range(starting_year, ending_year):
    for mnth in range(12):
        for mnth_2 in range(mnth, 12):
            starting_month = months[mnth]
            ending_month = months[mnth_2]
            new_beg = str(i) + '-' + str(starting_month) + '-' + "01"
            # print(new_beg)
            new_end = str(i) + '-' + str(ending_month) + '-' + "28"
            # print(str(months[mnth_2]))
            data = yf.download("IBM", start = new_beg, end=new_end)
            
            starting_price = data['Adj Close'][0]
            ending_price = data['Adj Close'][-1]
            price_diff = (ending_price - starting_price) / starting_price
            
            df[starting_month][ending_month] += price_diff # Append price to corresponding Starting Month v Ending Month in matrix

            total_years.append((new_beg + ' to ' + new_end, starting_price, ending_price, price_diff))

total_years

In [ ]:
# df / 4

In [7]:
num_years = ending_year-starting_year
result_df = df.copy()
for i in range(12):
    for j in range(12):
        starting_month = months[i]
        ending_month = months[j]
        result_df[starting_month][ending_month] /= num_years
result_df

,01,02,03,04,05,06,07,08,09,10,11,12
01,-0.004175,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
02,0.023443,0.033456,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
03,0.034546,0.047806,0.010814,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
04,0.026117,0.041833,0.004289,-0.011516,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
05,0.025660,0.042695,0.004712,-0.012333,0.007790,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
06,-0.008849,0.006507,-0.030086,-0.045246,-0.025071,-0.026170,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
07,0.013491,0.031394,-0.006508,-0.026107,-0.004503,-0.007853,-0.000114,0.000000,0.000000,0.000000,0.000000,0.000000
08,0.000378,0.016956,-0.019729,-0.038828,-0.015963,-0.019210,-0.011871,-0.008559,0.000000,0.000000,0.000000,0.000000
09,0.003521,0.019078,-0.016921,-0.035398,-0.011683,-0.014654,-0.007409,-0.004127,0.013189,0.000000,0.000000,0.000000
10,-0.047226,-0.031076,-0.068491,-0.086920,-0.062918,-0.065785,-0.059892,-0.054567,-0.037337,-0.050862,0.000000,0.000000
11,-0.028591,-0.010116,-0.049754,-0.070844,-0.046374,-0.050390,-0.044461,-0.039954,-0.022209,-0.035268,0.027525,0.000000
12,-0.030091,-0.010494,-0.051328,-0.073523,-0.048899,-0.053376,-0.047655,-0.043113,-0.025102,-0.037597,0.022093,-0.019547