In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [3]:
# str(months[10])
# Compare current month and future month gains.

In [4]:
pd.set_option('mode.chained_assignment', None)

In [5]:
# sample numpy array
arr = np.array([[0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0], [0,0,0,0, 0,0,0,0, 0,0,0,0]])
# convert to pandas dataframe with custom index and column names
# df = pd.DataFrame(arr, columns=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', "Nov", 'Dec'], index=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', "Nov", 'Dec'])
df = pd.DataFrame(arr, columns=['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'], index=['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'])
# print
# print("Numpy array:\n", arr)
# print("\nPandas dataframe:\n", df)
df['01']['01'] + 1

1

In [6]:
total_years = []
months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
df = pd.DataFrame(arr, columns=['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'], index=['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'])

starting_year = 2011
ending_year = 2022
for i in range(starting_year, ending_year):
    for mnth in range(12):
        for mnth_2 in range(mnth, 12):
            starting_month = months[mnth]
            ending_month = months[mnth_2]
            new_beg = str(i) + '-' + str(starting_month) + '-' + "01"
            # print(new_beg)
            new_end = str(i) + '-' + str(ending_month) + '-' + "28"
            # print(str(months[mnth_2]))
            data = yf.download("AMZN", start = new_beg, end=new_end)
            
            starting_price = data['Adj Close'][0]
            ending_price = data['Adj Close'][-1]
            price_diff = ending_price - starting_price
            
            df[starting_month][ending_month] += price_diff # Append price to corresponding Starting Month v Ending Month in matrix

            total_years.append((new_beg + ' to ' + new_end, price_diff))

total_years

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
num_years = ending_year-starting_year
for i in range(12):
    for j in range(12):
        starting_month = months[i]
        ending_month = months[j]
        df[starting_month][ending_month] /= num_years
df

,01,02,03,04,05,06,07,08,09,10,11,12
01,2.734165,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
02,4.278388,1.232968,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
03,2.007763,-1.037679,-4.094853,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
04,10.416172,7.370743,4.313568,7.461057,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
05,12.226714,9.181277,6.124112,9.271596,2.274615,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
06,12.611230,9.565770,6.508615,9.656097,2.659123,1.086336,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
07,20.677044,17.631623,14.574439,17.721909,10.724951,9.152185,4.700156,0.000000,0.000000,0.000000,0.000000,0.000000
08,21.577680,18.532254,15.475107,18.622552,11.625594,10.052814,5.600794,1.424251,0.000000,0.000000,0.000000,0.000000
09,21.216493,18.171045,15.113883,18.261357,11.264404,9.691612,5.239593,1.063051,-1.183555,0.000000,0.000000,0.000000
10,23.968056,20.922628,17.865463,21.012942,14.015965,12.443201,7.991148,3.814602,1.568030,3.548256,0.000000,0.000000
11,29.574794,26.529351,23.472208,26.619660,19.622681,18.049920,13.597886,9.421356,7.174753,9.155022,4.489360,0.000000
12,33.551581,30.506168,27.448995,30.596450,23.599482,22.026717,17.574694,13.398142,11.151563,13.131793,8.466139,3.123684